@page "/"
@inject NavigationManager Nav

<PageTitle>Home</PageTitle>

<h1>Hello, 5577-IoTs!</h1>

Welcome to your BlazorCloud.

@code {
    static bool haveRedirectedAllready = false;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !haveRedirectedAllready)
        {
            haveRedirectedAllready = true;
            Nav.NavigateTo("/weather");
        }
    }
}